body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,legend,input,textarea,p,blockquote,table,th,td,caption,hr,button,fieldset{margin:0;padding:0;}
iframe,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main,summary{display:block;margin:0;padding:0;}
audio,canvas,video,progress{display:inline-block;*display:inline;*zoom:1;vertical-align:baseline;}
html{background:#fff;color:#000;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{font:12px/1.5 tahoma,arial,helvetica,clean,sans-serif,\5b8b\4f53;}

img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;jerry:expression(cellSpacing='0');}
th,caption{text-align:center;font-weight:bold;font-style:normal;}
a{text-decoration:none;background:transparent;}
a:hover{text-decoration:underline;outline:0;}
a:focus{outline:thin dotted;}

address,cite,code,dfn,var{font-style:normal;}
em,i{font-style:italic;}
del{text-decoration:line-through;}
ins{text-decoration:underline;}
legend{color:#000;border:0;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:bold;font-style:normal;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h4,h5,h6{margin-top:10px;margin-bottom:10px;}
h1{font-size:300%;} /*12*=36px*/
h2{font-size:250%;} /*12*=30px*/
h3{font-size:200%;} /*12*=24px*/
h4{font-size:150%;} /*12*=18px*/
h5{font-size:116.67%;} /*12*=14px*/
h6{font-size:100%;} /*12*=12px*/
small{font-size:80%;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
blockquote,q{quotes:none;}
q:before,q:after,blockquote:before,blockquote:after,{content:'';content:none;}
pre,code,kbd,samp,tt{font-family:monospace,monospace;*font-size:108%;line-height:100%;}
pre{overflow:auto;}
[hidden],template{display:none;}
audio:not([controls]){display:none;height:0;}
svg:not(:root){overflow:hidden;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;display:block;border:0;border-top:1px solid #ccc;}
abbr,acronym{border-bottom:1px dotted #000;cursor:help;font-variant:normal;}

input{line-height:normal;}
button{overflow:visible;}
textarea{overflow:auto;}
button,input,select,textarea{font-size:100%;font:inherit;color:inherit;}
button,input,select{text-transform:none;vertical-align:middle;}
button,html input[type="button"],input[type="reset"],input[type="submit"],input[type="image"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="text"],input[type="password"],textarea{width:13.33em;*width:11em;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{border:1px solid #c0c0c0;/*margin:0 2px;padding:0.35em 0.625em 0.75em;*/}


/*display*/
.dn{display:none;}.db{display:block;}.dib{display:inline-block;*display:inline;*zoom:1;}.di{display:inline;}

/*height*/
.h_p100{height:100%;}.h_p50{height:50%;}.h_p33{height:33%;}.h_p25{height:25%;}
.h10{height:10px;}.h12{height:12px;}.h14{height:14px;}.h16{height:16px;}.h18{height:18px;}.h20{height:20px;}.h22{height:22px;}.h24{height:24px;}

/*line-height*/
.lh14{line-height:14px;}.lh16{line-height:16px;}.lh18{line-height:18px;}.lh20{line-height:20px;}.lh22{line-height:22px;}.lh24{line-height:24px;}.lh28{line-height:28px;}.lh30{line-height:30px;}.lh32{line-height:32px;}
.lh_10{line-height:1;}.lh_11{line-height:1.1;}.lh_12{line-height:1.2;}.lh_13{line-height:1.3;}.lh_14{line-height:1.4;}.lh_15{line-height:1.5;}.lh_16{line-height:1.6;}.lh_17{line-height:1.7;}.lh_18{line-height:1.8;}.lh_19{line-height:1.9;}.lh_20{line-height:2;}.lh_21{line-height:2.1;}.lh_22{line-height:2.2;}.lh_23{line-height:2.3;}.lh_24{line-height:2.4;}.lh_25{line-height:2.5;}.lh_26{line-height:2.6;}.lh_27{line-height:2.7;}.lh_28{line-height:2.8;}.lh_29{line-height:2.9;}.lh_30{line-height:3;}

/*margin*/
.m0{margin:0;} .m_auto{margin-left:auto;maring-right:auto;}
.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml20{margin-left:20px;}
	.ml-1{margin-left:-1px;}.ml-5{margin-left:-5px;}.ml-10{margin-left:-10px;}.ml-20{margin-left:-20px;}.ml-50{margin-left:-50px;}.ml-100{margin-left:-100px;}
.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr20{margin-right:20px;}
	.mr-1{margin-right:-1px;}.mr-5{margin-right:-5px;}.mr-10{margin-right:-10px;}.mr-20{margin-right:-20px;}.mr-50{margin-right:-50px;}.mr-100{margin-right:-100px;}
.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt20{margin-top:20px;}
	.mt-1{margin-top:-1px;}.mt-5{margin-top:-5px;}.mt-10{margin-top:-10px;}.mt-20{margin-top:-20px;}.mt-50{margin-top:-50px;}.mt-100{margin-top:-100px;}
.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}
	.mb-1{margin-bottom:-1px;}.mb-5{margin-bottom:-5px;}.mb-10{margin-bottom:-10px;}.mb-20{margin-bottom:-20px;}.mb-50{margin-bottom:-50px;}.mb-100{margin-bottom:-100px;}

/*padding*/
.p0{padding:0;}
.p1{padding:1px;}.pl1{padding-left:1px;}.pt1{padding-top:1px;}.pr1{padding-right:1px;}.pb1{padding-bottom:1px;}
.p2{padding:2px;}.pl2{padding-left:2px;}.pt2{padding-top:2px;}.pr2{padding-right:2px;}.pb2{padding-bottom:2px;}
.p5{padding:5px;}.pl5{padding-left:5px;}.pt5{padding-top:5px;}.pr5{padding-right:5px;}.pb5{padding-bottom:5px;}
.p10{padding:10px;}.pl10{padding-left:10px;}.pt10{padding-top:10px;}.pr10{padding-right:10px;}.pb10{padding-bottom:10px;}
.p20{padding:20px;}.pl20{padding-left:20px;}.pt20{padding-top:20px;}.pr20{padding-right:20px;}.pb20{padding-bottom:20px;}
.p50{padding:50px;}.pl20{padding-left:20px;}.pt20{padding-top:20px;}.pr20{padding-right:20px;}.pb20{padding-bottom:20px;}
.p00{padding:100px;}.pl100{padding-left:100px;}.pt100{padding-top:100px;}.pr100{padding-right:100px;}.pb100{padding-bottom:100px;}

/*color & hover_color*/
.c0,.hv_c0:hover{color:#000;}.c3,.hv_c3:hover{color:#333;}.c6,.hv_c6:hover{color:#666;}.c9,.hv_c9:hover{color:#999;}
.ca,.hv_ca:hover{color:#aaa;}.cb,.hv_cb:hover{color:#bbb;}.cc,.hv_cc:hover{color:#ccc;}.cd,.hv_cd:hover{color:#ddd;}.ce,.hv_ce:hover{color:#eee;}.cf,.hv_cf:hover{color:#fff;}
.white,.hv_white:hover{color:#fff;}.black,.hv_black:hover{color:#000;}.red,.hv_red:hover{color:#f00;}.blue,.hv_blue:hover{color:#00f;}.green,.hv_green:hover{color:#0f0}
.yellow,.hv_yellow:hover{color:#ff0;}.gray,.hv_gray:hover{color:#808080;}.cyan,.hv_cyan:hover{color:#0ff;}.magenta,.hv_magenta:hover{color:#f0f;}/*qingse.yanghong*/

/*font-size*/
.fs0{font-size:0;}.fs10{font-size:10px;}.fs12{font-size:12px;}.fs13{font-size:13px;}.fs14{font-size:14px;}.fs16{font-size:16px;}.fs18{font-size:18px;}.fs20{font-size:20px;}.fs24{font-size:24px;}.fs28{font-size:28px;}.fs30{font-size:30px;}
.fs_p100{font-size:100%;}.fs_p110{font-size:110%;}.fs_p120{font-size:120%;}.fs_p130{font-size:130%;}.fs_p140{font-size:140%;}.fs_p150{font-size:150%;}.fs_p160{font-size:160%;}.fs_p180{font-size:180%;}.fs_p200{font-size:200%;}
.fs_e10{font-size:1em;}.fs_e12{font-size:1.2em;}.fs_e14{font-size:1.4em;}.fs_e15{font-size:1.5em;}.fs_e16{font-size:1.6em;}.fs_e18{font-size:1.8em;}.fs_e20{font-size:2em;}
.fs14b{font-size:14px;font-weight:bold;}.fs16b{font-size:16px;font-weight:bold;}.fs18b{font-size:18px;font-weight:bold;}.fs20b{font-size:20px;font-weight:bold;}.fs22b{font-size:22px;font-weight:bold;}.fs24b{font-size:24px;font-weight:bold;}

/*font-family*/
.ffa{font-family:Arial;}.fft{font-family:Tahoma;}.ffv{font-family:Verdana;}.ffs{font-family:sans-serif;}
.ff_s{font-family:\5b8b\4f53;}.ff_w{font-family:\5FAE\8F6F\96C5\9ED1;}.ff_h{font-family:\9ED1\4F53;}.ff_k{font-family:\6977\4F53;}.ff_l{font-family:\96B6\4E66;}.ff_y{font-family:\5E7C\5706;}/*songti.weiryh.heiti.kaiti.lishu.youyuan*/

/*font-style*/
.n{font-weight:normal;font-style:normal;}.b{font-weight:bold;}.i{font-style:italic;}

/*text-align*/
.tac{text-align:center;}.tar{text-align:right;}.tal{text-align:left;}.taj{text-align:justify;}

/*text-decoration*/
.tdn{text-decoration:none;}.tdb{text-decoration:underline;}.tdm{text-decoration:line-through;}.tdt{text-decoration:overline;}

/*vertical-align*/
.vam{vertical-align:middle;}.vatb{vertical-align:text-bottom;}.vab{vertical-align:bottom;}.vat{vertical-align:top;}

/*letter-spacing*/
.ls0{letter-spacing:0;}.ls1{letter-spacing:1px;}.ls-1{letter-spacing:-1px;}.ls-2{letter-spacing:-2px;}

/*word-break*/
.wbbr{white-space:normal;word-break:break-all;word-wrap:break-word;overflow-wrap:break-word;}
.wbkp{white-space:nowrap;word-break:keep-all;word-wrap:normal;overflow-wrap:normal;}

/*opacity*/
.o00{opacity:0;filter:alpha(opacity=0);}     .o05{opacity:0.05;filter:alpha(opacity=5);}
.o10{opacity:0.1;filter:alpha(opacity=10);}  .o15{opacity:0.15;filter:alpha(opacity=15);}
.o20{opacity:0.2;filter:alpha(opacity=20);}  .o25{opacity:0.25;filter:alpha(opacity=25);}
.o30{opacity:0.3;filter:alpha(opacity=30);}  .o35{opacity:0.35;filter:alpha(opacity=35);}
.o40{opacity:0.4;filter:alpha(opacity=40);}  .o45{opacity:0.45;filter:alpha(opacity=45);}
.o50{opacity:0.5;filter:alpha(opacity=50);}  .o55{opacity:0.55;filter:alpha(opacity=55);}
.o60{opacity:0.6;filter:alpha(opacity=60);}  .o65{opacity:0.65;filter:alpha(opacity=65);}
.o70{opacity:0.7;filter:alpha(opacity=70);}  .o75{opacity:0.75;filter:alpha(opacity=75);}
.o80{opacity:0.8;filter:alpha(opacity=80);}  .o85{opacity:0.85;filter:alpha(opacity=85);}
.o90{opacity:0.9;filter:alpha(opacity=90);}  .o95{opacity:0.95;filter:alpha(opacity=95);}
.o100{opacity:1;filter:alpha(opacity=100);}

/*float*/
.fll{float:left;_display:inline;}.flr{float:right;_display:inline;}.fln{float:none;}

/*clear*/
.clrl{clear:left;}.clrr{clear:right;}.clrb{clear:both;}

/*position*/
.pr{position:relative;}.pa{position:absolute;}.ps{position:static;}.pf{position:fixed;}
.ptl{position:absolute;left:0;right:auto;top:0;bottom:auto;}
.ptr{position:absolute;left:auto;right:0;top:0;bottom:auto;}
.pbr{position:absolute;left:auto;right:0;top:auto;bottom:0;}
.pbl{position:absolute;left:0;right:auto;top:auto;bottom:0;}

/*cursor*/
.mpp{cursor:pointer;}.mpd{cursor:default;}.mpm{cursor:move;}.mpa{cursor:auto;}

/*zoom*/
.z{zoom:1;}

/*ellipsis...*/
.ell{text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;overflow:hidden;}

.h1,.h2,.h3,.h4,.h5,.h6{display:block;font-weight:bold;}
.h1{font-size:300%;} /*12*=36px*/
.h2{font-size:250%;} /*12*=30px*/
.h3{font-size:200%;} /*12*=24px*/
.h4{font-size:150%;} /*12*=18px*/
.h5{font-size:116.67%;} /*12*=14px*/
.h6{font-size:100%;} /*12*=12px*/

/*fix*/
.fix,.flist{zoom:1;}
.flist>li,.flist>dd,.flist>dt{float:left;}
* html .flist li{float:left;display:inline;} * html .flist dd{float:left;display:inline;} * html .flist dt{float:left;display:inline;}
.fix:after,.flist:after{display:block;content:".";height:0;clear:both;visibility:hidden;font-size:0;line-height:0;}